In [99]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

In [100]:
pd.set_option('display.max_columns', None)

In [101]:
df = pd.read_csv('D:\Coding\Machine Learning\AQI\Merged Data\Anand Vihar.csv')
df

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),Benzene (µg/m³),Toluene (µg/m³),Xylene (µg/m³),O Xylene (µg/m³),Eth-Benzene (µg/m³),MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2017-01-01 00:00:00,162.00,227.00,35.430000,84.290000,123.520000,101.190000,21.520000,1.950000,8.330000,9.880000,19.450000,NaN,NaN,NaN,NaN,14.500000,71.83,0.930,127.250000,NaN,0.0,12.25,740.0,NaN
1,2017-01-01 01:00:00,165.17,226.17,49.520000,83.790000,142.280000,124.920000,21.760000,2.160000,8.980000,6.610000,15.570000,NaN,NaN,NaN,NaN,13.660000,73.25,0.510,103.500000,NaN,0.0,12.17,740.0,NaN
2,2017-01-01 02:00:00,176.67,215.33,48.780000,76.690000,134.950000,119.380000,21.820000,1.960000,10.480000,6.350000,17.090000,NaN,NaN,NaN,NaN,13.310000,74.92,0.790,96.920000,NaN,0.0,12.42,740.0,NaN
3,2017-01-01 03:00:00,150.67,177.50,26.710000,77.010000,105.080000,111.600000,21.700000,1.740000,12.880000,5.600000,14.700000,NaN,NaN,NaN,NaN,13.540000,75.08,1.130,106.750000,NaN,0.0,12.17,740.0,NaN
4,2017-01-01 04:00:00,129.50,174.50,115.470000,63.650000,214.400000,73.840000,22.540000,2.300000,14.710000,5.310000,14.930000,NaN,NaN,NaN,NaN,12.910000,75.33,0.310,197.250000,NaN,0.0,12.25,740.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61339,2023-12-31 19:00:00,217.25,319.50,23.650000,59.475000,50.900000,24.250000,6.100000,1.547500,16.950000,2.300000,27.925000,NaN,NaN,NaN,NaN,11.800000,80.75,0.775,41.500000,NaN,0.0,5.00,742.0,NaN
61340,2023-12-31 20:00:00,185.25,275.50,43.275000,57.525000,65.850000,21.775000,4.625000,1.832500,18.550000,2.325000,15.375000,NaN,NaN,NaN,NaN,11.750000,80.75,0.725,38.250000,NaN,0.0,5.00,742.0,NaN
61341,2023-12-31 21:00:00,167.25,260.75,60.300000,52.400000,76.900000,17.775000,3.325000,1.912500,17.150000,2.450000,6.900000,NaN,NaN,NaN,NaN,11.650000,80.25,0.475,71.250000,NaN,0.0,5.00,742.0,NaN
61342,2023-12-31 22:00:00,163.25,249.00,65.875000,53.800000,82.200000,13.875000,4.375000,1.627500,17.600000,2.475000,6.250000,NaN,NaN,NaN,NaN,11.450000,81.00,0.400,43.250000,NaN,0.0,5.00,742.0,NaN
61343,2023-12-31 23:00:00,158.00,252.00,25.066667,46.066667,44.866667,15.533333,4.166667,1.573333,20.733333,2.166667,4.833333,NaN,NaN,NaN,NaN,11.466667,81.00,0.300,17.666667,NaN,0.0,5.00,742.0,NaN

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61344 entries, 0 to 61343
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Timestamp            61344 non-null  object
 1   PM2.5 (µg/m³)        52370 non-null  float64
 2   PM10 (µg/m³)         50329 non-null  float64
 3   NO (µg/m³)           47369 non-null  float64
 4   NO2 (µg/m³)          50166 non-null  float64
 5   NOx (ppb)            47998 non-null  float64
 6   NH3 (µg/m³)          49022 non-null  float64
 7   SO2 (µg/m³)          50262 non-null  float64
 8   CO (mg/m³)           47522 non-null  float64
 9   Ozone (µg/m³)        51047 non-null  float64
 10  Benzene (µg/m³)      45904 non-null  float64
 11  Toluene (µg/m³)      46898 non-null  float64
 12  Xylene (µg/m³)       0 non-null      float64
 13  O Xylene (µg/m³)     0 non-null      float64
 14  Eth-Benzene (µg/m³)  0 non-null      float64
 15  MP-Xylene (µg/m³)    0 non-null      float64
 16  AT (°C)              52933 non-null  float64
 17  RH (%)               53249 non-null  float64
 18  WS (m/s)             52705 non-null  float64
 19  WD (deg)             52378 non-null  float64
 20  RF (mm)              354 non-null    float64
 21  TOT-RF (mm)          61344 non-null  float64
 22  SR (W/mt2)           52238 non-null  float64
 23  BP (mmHg)            49309 non-null  float64
 24  VWS (m/s)            0 non-null      float64
dtypes: float64(24), object(1)
memory usage: 11.7+ MB

In [103]:
df.shape

(61344, 25)

In [104]:
missing_values =  ((df.isnull().sum()/df.shape[0])*100)

In [105]:
print("\nMissing values:\n", missing_values)

Missing values:
 Timestamp                0.000000
PM2.5 (µg/m³)           14.628978
PM10 (µg/m³)            17.956116
NO (µg/m³)              22.781364
NO2 (µg/m³)             18.221831
NOx (ppb)               21.755999
NH3 (µg/m³)             20.086724
SO2 (µg/m³)             18.065336
CO (mg/m³)              22.531951
Ozone (µg/m³)           16.785668
Benzene (µg/m³)         25.169536
Toluene (µg/m³)         23.549165
Xylene (µg/m³)         100.000000
O Xylene (µg/m³)       100.000000
Eth-Benzene (µg/m³)    100.000000
MP-Xylene (µg/m³)      100.000000
AT (°C)                 13.711202
RH (%)                  13.196075
WS (m/s)                14.082877
WD (deg)                14.615936
RF (mm)                 99.422926
TOT-RF (mm)              0.000000
SR (W/mt2)              14.844158
BP (mmHg)               19.618871
VWS (m/s)              100.000000
dtype: float64

In [134]:
new_df = df.copy()

In [135]:
new_df

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),Benzene (µg/m³),Toluene (µg/m³),Xylene (µg/m³),O Xylene (µg/m³),Eth-Benzene (µg/m³),MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2017-01-01 00:00:00,162.00,227.00,35.430000,84.290000,123.520000,101.190000,21.520000,1.950000,8.330000,9.880000,19.450000,NaN,NaN,NaN,NaN,14.500000,71.83,0.930,127.250000,NaN,0.0,12.25,740.0,NaN
1,2017-01-01 01:00:00,165.17,226.17,49.520000,83.790000,142.280000,124.920000,21.760000,2.160000,8.980000,6.610000,15.570000,NaN,NaN,NaN,NaN,13.660000,73.25,0.510,103.500000,NaN,0.0,12.17,740.0,NaN
2,2017-01-01 02:00:00,176.67,215.33,48.780000,76.690000,134.950000,119.380000,21.820000,1.960000,10.480000,6.350000,17.090000,NaN,NaN,NaN,NaN,13.310000,74.92,0.790,96.920000,NaN,0.0,12.42,740.0,NaN
3,2017-01-01 03:00:00,150.67,177.50,26.710000,77.010000,105.080000,111.600000,21.700000,1.740000,12.880000,5.600000,14.700000,NaN,NaN,NaN,NaN,13.540000,75.08,1.130,106.750000,NaN,0.0,12.17,740.0,NaN
4,2017-01-01 04:00:00,129.50,174.50,115.470000,63.650000,214.400000,73.840000,22.540000,2.300000,14.710000,5.310000,14.930000,NaN,NaN,NaN,NaN,12.910000,75.33,0.310,197.250000,NaN,0.0,12.25,740.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61339,2023-12-31 19:00:00,217.25,319.50,23.650000,59.475000,50.900000,24.250000,6.100000,1.547500,16.950000,2.300000,27.925000,NaN,NaN,NaN,NaN,11.800000,80.75,0.775,41.500000,NaN,0.0,5.00,742.0,NaN
61340,2023-12-31 20:00:00,185.25,275.50,43.275000,57.525000,65.850000,21.775000,4.625000,1.832500,18.550000,2.325000,15.375000,NaN,NaN,NaN,NaN,11.750000,80.75,0.725,38.250000,NaN,0.0,5.00,742.0,NaN
61341,2023-12-31 21:00:00,167.25,260.75,60.300000,52.400000,76.900000,17.775000,3.325000,1.912500,17.150000,2.450000,6.900000,NaN,NaN,NaN,NaN,11.650000,80.25,0.475,71.250000,NaN,0.0,5.00,742.0,NaN
61342,2023-12-31 22:00:00,163.25,249.00,65.875000,53.800000,82.200000,13.875000,4.375000,1.627500,17.600000,2.475000,6.250000,NaN,NaN,NaN,NaN,11.450000,81.00,0.400,43.250000,NaN,0.0,5.00,742.0,NaN
61343,2023-12-31 23:00:00,158.00,252.00,25.066667,46.066667,44.866667,15.533333,4.166667,1.573333,20.733333,2.166667,4.833333,NaN,NaN,NaN,NaN,11.466667,81.00,0.300,17.666667,NaN,0.0,5.00,742.0,NaN

In [108]:
# Step 1: Replace NaN values with 0 in columns that contain NaN
columns_with_nan = df.columns[df.isnull().any()]
new_df[columns_with_nan] = new_df[columns_with_nan].fillna(0)

# Step 2: Calculate the percentage of 0s in each column
zero_percentage = (new_df == 0).mean() * 100  # Percentage of 0s in each column

# Step 3: Filter columns where the percentage of 0s is less than 30%
columns_less_than_30_percent_zeros = zero_percentage[zero_percentage < 30].index

# Extract those columns from the DataFrame
df_filtered = new_df[columns_less_than_30_percent_zeros]

In [109]:
feature_col_to_impute = df_filtered.columns[1:]
feature_col_to_impute  #(these are the columns have nan value less than 30 percent)

Index(['PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)', 'NO2 (µg/m³)',
       'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)', 'Benzene (µg/m³)', 'Toluene (µg/m³)', 'AT (°C)',
       'RH (%)', 'WS (m/s)', 'WD (deg)', 'SR (W/mt2)', 'BP (mmHg)'],
      dtype='object')

In [110]:
# Step 1: Replace 0s with NaN in the feature columns of df_with_zeros
new_df[feature_col_to_impute] = new_df[feature_col_to_impute].replace(0, np.nan)

In [111]:
new_df

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),Benzene (µg/m³),Toluene (µg/m³),Xylene (µg/m³),O Xylene (µg/m³),Eth-Benzene (µg/m³),MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2017-01-01 00:00:00,162.00,227.00,35.430000,84.290000,123.520000,101.190000,21.520000,1.950000,8.330000,9.880000,19.450000,0.0,0.0,0.0,0.0,14.500000,71.83,0.930,127.250000,0.0,0.0,12.25,740.0,0.0
1,2017-01-01 01:00:00,165.17,226.17,49.520000,83.790000,142.280000,124.920000,21.760000,2.160000,8.980000,6.610000,15.570000,0.0,0.0,0.0,0.0,13.660000,73.25,0.510,103.500000,0.0,0.0,12.17,740.0,0.0
2,2017-01-01 02:00:00,176.67,215.33,48.780000,76.690000,134.950000,119.380000,21.820000,1.960000,10.480000,6.350000,17.090000,0.0,0.0,0.0,0.0,13.310000,74.92,0.790,96.920000,0.0,0.0,12.42,740.0,0.0
3,2017-01-01 03:00:00,150.67,177.50,26.710000,77.010000,105.080000,111.600000,21.700000,1.740000,12.880000,5.600000,14.700000,0.0,0.0,0.0,0.0,13.540000,75.08,1.130,106.750000,0.0,0.0,12.17,740.0,0.0
4,2017-01-01 04:00:00,129.50,174.50,115.470000,63.650000,214.400000,73.840000,22.540000,2.300000,14.710000,5.310000,14.930000,0.0,0.0,0.0,0.0,12.910000,75.33,0.310,197.250000,0.0,0.0,12.25,740.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61339,2023-12-31 19:00:00,217.25,319.50,23.650000,59.475000,50.900000,24.250000,6.100000,1.547500,16.950000,2.300000,27.925000,0.0,0.0,0.0,0.0,11.800000,80.75,0.775,41.500000,0.0,0.0,5.00,742.0,0.0
61340,2023-12-31 20:00:00,185.25,275.50,43.275000,57.525000,65.850000,21.775000,4.625000,1.832500,18.550000,2.325000,15.375000,0.0,0.0,0.0,0.0,11.750000,80.75,0.725,38.250000,0.0,0.0,5.00,742.0,0.0
61341,2023-12-31 21:00:00,167.25,260.75,60.300000,52.400000,76.900000,17.775000,3.325000,1.912500,17.150000,2.450000,6.900000,0.0,0.0,0.0,0.0,11.650000,80.25,0.475,71.250000,0.0,0.0,5.00,742.0,0.0
61342,2023-12-31 22:00:00,163.25,249.00,65.875000,53.800000,82.200000,13.875000,4.375000,1.627500,17.600000,2.475000,6.250000,0.0,0.0,0.0,0.0,11.450000,81.00,0.400,43.250000,0.0,0.0,5.00,742.0,0.0
61343,2023-12-31 23:00:00,158.00,252.00,25.066667,46.066667,44.866667,15.533333,4.166667,1.573333,20.733333,2.166667,4.833333,0.0,0.0,0.0,0.0,11.466667,81.00,0.300,17.666667,0.0,0.0,5.00,742.0,0.0

In [112]:
from sklearn.impute import KNNImputer

In [113]:
data = new_df.copy()  # Replace with your data file

In [114]:
missing_values =  ((data.isnull().sum()/data.shape[0])*100)
missing_values

Timestamp               0.000000
PM2.5 (µg/m³)          14.628978
PM10 (µg/m³)           17.956116
NO (µg/m³)             22.781364
NO2 (µg/m³)            18.221831
NOx (ppb)              22.049426
NH3 (µg/m³)            20.086724
SO2 (µg/m³)            18.065336
CO (mg/m³)             22.812337
Ozone (µg/m³)          16.785668
Benzene (µg/m³)        26.429643
Toluene (µg/m³)        24.970657
Xylene (µg/m³)          0.000000
O Xylene (µg/m³)        0.000000
Eth-Benzene (µg/m³)     0.000000
MP-Xylene (µg/m³)       0.000000
AT (°C)                13.711202
RH (%)                 13.196075
WS (m/s)               14.082877
WD (deg)               14.615936
RF (mm)                 0.000000
TOT-RF (mm)             0.000000
SR (W/mt2)             15.060968
BP (mmHg)              19.618871
VWS (m/s)               0.000000
dtype: float64

In [128]:
param_grid = {
    'n_neighbors': [20, 22, 23, 25, 27, 28, 30, 32, 33, 35, 37, 39, 40],
    # 'n_neighbors': [7, 10, 12, 13, 15, 17, 18],
    'weights': ['uniform', 'distance']
}

In [129]:
data_with_zeros = new_df.copy()
data_with_zeros = data_with_zeros.fillna(0)

In [130]:
numerical_columns = data.columns[1:]
numerical_columns

Index(['PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)', 'NO2 (µg/m³)',
       'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)', 'Benzene (µg/m³)', 'Toluene (µg/m³)', 'Xylene (µg/m³)',
       'O Xylene (µg/m³)', 'Eth-Benzene (µg/m³)', 'MP-Xylene (µg/m³)',
       'AT (°C)', 'RH (%)', 'WS (m/s)', 'WD (deg)', 'RF (mm)', 'TOT-RF (mm)',
       'SR (W/mt2)', 'BP (mmHg)', 'VWS (m/s)'],
      dtype='object')

In [131]:
imputed_data_dict = {}

In [133]:
from sklearn.metrics import mean_squared_error
# Loop over each parameter combination
for n_neighbors in param_grid['n_neighbors']:
    for weight in param_grid['weights']:
            # Create a KNN imputer with the current parameter combination
            imputer = KNNImputer(n_neighbors=n_neighbors, weights=weight)
            data_to_impute = data.copy()
            
            # Perform the imputation
            imputed_data = imputer.fit_transform(data_to_impute[numerical_columns])
            
            # Convert back to DataFrame to store it
            imputed_df = pd.DataFrame(imputed_data, columns=numerical_columns)
            
            # Save the imputed DataFrame in the dictionary
            param_key = f'n_neighbors={n_neighbors}_weights={weight}'
            imputed_data_dict[param_key] = imputed_df

            # Compare imputed data with original data (with 0 instead of NaNs)
            mse = mean_squared_error(data_with_zeros[numerical_columns], imputed_df)
            print(f"MSE for {param_key}: {mse}")

MSE for n_neighbors=7_weights=uniform: 10560.61920491957
MSE for n_neighbors=7_weights=distance: 11272.288144901342
MSE for n_neighbors=10_weights=uniform: 10592.999624433376
MSE for n_neighbors=10_weights=distance: 11301.161906793417
MSE for n_neighbors=12_weights=uniform: 10548.54944135348
MSE for n_neighbors=12_weights=distance: 11253.164226128521
MSE for n_neighbors=13_weights=uniform: 10497.268703751271
MSE for n_neighbors=13_weights=distance: 11200.156107826508
MSE for n_neighbors=15_weights=uniform: 10343.057025257964
MSE for n_neighbors=15_weights=distance: 11044.766136277392
MSE for n_neighbors=17_weights=uniform: 10280.931109260237
MSE for n_neighbors=17_weights=distance: 10982.387616818325
MSE for n_neighbors=18_weights=uniform: 10235.722027894424
MSE for n_neighbors=18_weights=distance: 10937.080476261348

MSE for n_neighbors=20_weights=uniform: 10274.107483937547
MSE for n_neighbors=20_weights=distance: 10973.75127379348
MSE for n_neighbors=22_weights=uniform: 10270.324732967085
MSE for n_neighbors=22_weights=distance: 10969.056857932444
MSE for n_neighbors=23_weights=uniform: 10228.27349725405
MSE for n_neighbors=23_weights=distance: 10926.09910935907
MSE for n_neighbors=25_weights=uniform: 10157.979307083491
MSE for n_neighbors=25_weights=distance: 10856.071721274144
MSE for n_neighbors=27_weights=uniform: 10256.762471579435
MSE for n_neighbors=27_weights=distance: 10954.161728799756
MSE for n_neighbors=28_weights=uniform: 10328.258511982325
MSE for n_neighbors=28_weights=distance: 11025.911011346587
MSE for n_neighbors=30_weights=uniform: 10384.289107147715
MSE for n_neighbors=30_weights=distance: 11081.538834119177
MSE for n_neighbors=32_weights=uniform: 10380.826671797831
MSE for n_neighbors=32_weights=distance: 11078.335677120822
MSE for n_neighbors=33_weights=uniform: 10388.1935154406
MSE for n_neighbors=33_weights=distance: 11085.875893756334
MSE for n_neighbors=35_weights=uniform: 10370.058055663188
MSE for n_neighbors=35_weights=distance: 11067.645407586237
MSE for n_neighbors=37_weights=uniform: 10400.378442675987
MSE for n_neighbors=37_weights=distance: 11098.13506922438
MSE for n_neighbors=39_weights=uniform: 10422.733228728417
MSE for n_neighbors=39_weights=distance: 11120.464063256082
MSE for n_neighbors=40_weights=uniform: 10432.621764355647
MSE for n_neighbors=40_weights=distance: 11130.688650988484

In [121]:
best_n_neighbors = 25
best_weights = 'uniform'

In [122]:
# Initialize the KNNImputer with the best parameters
knn_imputer = KNNImputer(n_neighbors=best_n_neighbors, weights=best_weights)

In [123]:
# Select the columns for imputation (those with NaNs)
columns_to_impute = data.columns[1:]

In [124]:
imputed_data_final = data.copy()
imputed_data_final[columns_to_impute] = knn_imputer.fit_transform(data[columns_to_impute])

In [125]:
imputed_data_final

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),Benzene (µg/m³),Toluene (µg/m³),Xylene (µg/m³),O Xylene (µg/m³),Eth-Benzene (µg/m³),MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2017-01-01 00:00:00,162.00,227.00,35.430000,84.290000,123.520000,101.190000,21.520000,1.950000,8.330000,9.880000,19.450000,0.0,0.0,0.0,0.0,14.500000,71.83,0.930,127.250000,0.0,0.0,12.25,740.0,0.0
1,2017-01-01 01:00:00,165.17,226.17,49.520000,83.790000,142.280000,124.920000,21.760000,2.160000,8.980000,6.610000,15.570000,0.0,0.0,0.0,0.0,13.660000,73.25,0.510,103.500000,0.0,0.0,12.17,740.0,0.0
2,2017-01-01 02:00:00,176.67,215.33,48.780000,76.690000,134.950000,119.380000,21.820000,1.960000,10.480000,6.350000,17.090000,0.0,0.0,0.0,0.0,13.310000,74.92,0.790,96.920000,0.0,0.0,12.42,740.0,0.0
3,2017-01-01 03:00:00,150.67,177.50,26.710000,77.010000,105.080000,111.600000,21.700000,1.740000,12.880000,5.600000,14.700000,0.0,0.0,0.0,0.0,13.540000,75.08,1.130,106.750000,0.0,0.0,12.17,740.0,0.0
4,2017-01-01 04:00:00,129.50,174.50,115.470000,63.650000,214.400000,73.840000,22.540000,2.300000,14.710000,5.310000,14.930000,0.0,0.0,0.0,0.0,12.910000,75.33,0.310,197.250000,0.0,0.0,12.25,740.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61339,2023-12-31 19:00:00,217.25,319.50,23.650000,59.475000,50.900000,24.250000,6.100000,1.547500,16.950000,2.300000,27.925000,0.0,0.0,0.0,0.0,11.800000,80.75,0.775,41.500000,0.0,0.0,5.00,742.0,0.0
61340,2023-12-31 20:00:00,185.25,275.50,43.275000,57.525000,65.850000,21.775000,4.625000,1.832500,18.550000,2.325000,15.375000,0.0,0.0,0.0,0.0,11.750000,80.75,0.725,38.250000,0.0,0.0,5.00,742.0,0.0
61341,2023-12-31 21:00:00,167.25,260.75,60.300000,52.400000,76.900000,17.775000,3.325000,1.912500,17.150000,2.450000,6.900000,0.0,0.0,0.0,0.0,11.650000,80.25,0.475,71.250000,0.0,0.0,5.00,742.0,0.0
61342,2023-12-31 22:00:00,163.25,249.00,65.875000,53.800000,82.200000,13.875000,4.375000,1.627500,17.600000,2.475000,6.250000,0.0,0.0,0.0,0.0,11.450000,81.00,0.400,43.250000,0.0,0.0,5.00,742.0,0.0
61343,2023-12-31 23:00:00,158.00,252.00,25.066667,46.066667,44.866667,15.533333,4.166667,1.573333,20.733333,2.166667,4.833333,0.0,0.0,0.0,0.0,11.466667,81.00,0.300,17.666667,0.0,0.0,5.00,742.0,0.0

In [126]:
imputed_data_final.to_csv('D:\Coding\Machine Learning\AQI\Imputed_Data\Alipur_imputed.csv', index=False)